/*
	this file is used to fix the design of the website
*/

*{
	margin:0 0;
	padding: 0 0;
	font-family: Arial,Helvetica,sans-serif;
}
.clearfix{
    clear: both;
    float: none;
}
.text-right{
	text-align: right;
}
.menu-sidebar{
	width: 70%;
}
.menu-sidebar button{
	background-color: #47DCFA;
	margin-top: 2%;
	width: 4%;
	float: left;
	border: none;
	margin-left: 1%;
}
.menu-sidebar button:hover{
	cursor: pointer;
}
.menu-sidebar img{
	width:100%;
}
.logo{
	margin-top: 1%;
	width: 3%;
	float: left;
	margin-left: 1%;
}
.logo img{
	width: 100%;
}


.search{
	padding: 10%;
	background-image: url(../img/still-edible.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.search h2{
	color: white;
	text-align: center;
	font-family: serif; 
	font-size: 40px;
	text-shadow: 2px 2px 8px #47DCFA;
}
.search h3{
	color: white;
	text-align: center;
	margin-bottom: 2%;
	font-family: serif; 
	font-size: 30px;
	text-shadow: 2px 2px 8px #47DCFA;
}
.search .container{
	width:80%;
	margin: 0 auto;
	padding: 1%;
}

.search input[type="search-box"]{
	border-radius: 25px;
	width: 60%;
	padding: 1%;
	margin-left: 15%;
	font-size: 1rem;
}
.search-btn{
	padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 25px;
	background-color: #FF99CC;
    color: white;
    cursor: pointer;
}
.search-btn:hover{
	cursor: pointer;
	background-color:#FFCCE5;
}

.menu{
	line-height: 60px;
}
.menu ul{
	list-style-type: none;
	margin-right: 1%;
}
.menu ul li{
	margin-left: 2%;
	display: inline-flex;
	padding-left: 1%;
	padding-right: 1%;
	font-weight: bold;
	font-size: 80%;
}
.menu ul li a{
	text-decoration: none;
	color: black;
}
.menu select{
	font-size: 100%;
	font-weight: bold;
	background-color: #47DCFA;
	border-color: #47DCFA;
	border-style: none;
}

.navigation{
	opacity: 0.9;
	width:100%;
	background-color: #47DCFA;
}
select{
	cursor: pointer;
}
.food {
	background-color: #ececec;
    padding: 2% 0;
}
.food .container{
	width: 80%;
    margin: 0 auto;
    padding: 2%;
}

.food .container .box-1{
	width: 43%;
    margin: 1% ;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}
.food .container .box-1:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.food .container .box-1 img{
	height: 80px;
	width: 80px;
   	float: left;
}
.food .container .box-1 h4{
	width: 70%;
    float: left;
    margin-left: 8%;
}

.food .container .box-1 p{
	width: 70%;
    float: left;
    margin-left: 8%;
    color: #747d8c;
}
.food h1{
	margin-top: 2%;
	text-align: center;
}

.food .container .box-1 input{
	background-color: #FFFF99;
    float: left;
    margin-left: 8%;
    padding: 1%;
    border-radius: 25px;
    border: none;
    width:70%;
}
.food .container .box-1 input:hover{
	cursor: pointer;
	background-color: #FFFFCC;
}
.food .container .box-1 hr {
  	display: block;
  	width: 70%;
  	float: left;
  	margin-left: 8%;
  	margin-top: 2%;
  	margin-bottom: 2%;
  	border-style: inset;
  	border-width: 1px;
}
.clear-fix{
	clear: both;
    float: none;
}
.food a{
	margin: 42%;
	background-color: #FF99CC;;
	text-decoration: none;
	padding: 1%;
	border-radius: 25px;
	color: white;
}
.food a:hover{
	cursor: pointer;
	background-color:#FFCCE5;
}
.categories-section{
	width: 100%;
	overflow: auto;
	padding: 1% 0;
}
.categories-header ul{
	list-style-type: none;
	margin: 0 6% 0 23%;
}
.categories-header ul li{
	display: inline-flex;
	margin-right: 22%;

}
.categories-section .container input{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border:none;
	background-color: #C0C0C0;
	color: white;
}
.categories-section .container input:hover{
	background-color: black;
	background-color:#E0E0E0;
	cursor: pointer;
}
.categories-section .container .categories-box ul{
	list-style-type: none;
	margin: 5% 0 0 10%;

}
.categories-section .container .categories-box ul li{
	display: inline-flex;
	margin-right: 5%;
	position: relative;
}
.categories-box a{
	border-radius: 25px;	
}
.categories-box img{
	opacity: 1;
	border-radius: 25px;
	height:200px;
	width:300px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.categories-box h2{
	position: absolute;
	display: none;
    bottom: 70%;
    left: 10px;
    color: black;
}
.categories-box h2 hr{
	color: #47DCFA;
	display: block;
  	width: 100%;
  	float: left;
  	margin-bottom: 1%;
  	border-style: solid;
  	border-width: 2px;
}
.categories-box img:hover{
	opacity:0.2;
}
.categories-box img:hover + h2{
	display: block;
}
.nav-buttons a {
  text-decoration: none;
  padding: 8px 16px;
}
@keyframes example{
	from{
		opacity: 0.2;
		left: 10%;
		top: 0;
		bottom:0;
		right:0;
	}
	to{
		opacity: 1;
		left:0;
		top: 0;
		bottom:0;
		right:0;
	}
}
.team{
	
	background-color: #ececec;
	padding: 2% 0;
}
.team .container .box2{
	animation-name: example;
	animation-duration: 2s;
	opacity: 1;
	position: relative;
	left:0%;
	top: 0%;
	bottom: 0%;
	right:0%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 70%;
    margin: 0 11% ;
    padding: 3%;
    float: left;
    background-color: white;
    border-radius: 15px;
}
.team img{
	height: 160px;
	width: 150px;
   	float: left;
   	border-radius: 50%;
}
.team  h4{
	width: 70%;
    float: left;
    margin-left: 8%;
    margin-top: 2%;
    font-size: 25px;
    font-family: serif;
    color: #2A94C9;
}

.team hr{
	display: block;
  	width: 70%;
  	float: left;
  	margin-left: 8%;
  	margin-top: 2%;
  	margin-bottom: 2%;
  	border-style: inset;
  	border-width: 1px;
}
.team  p{
	width: 70%;
    float: left;
    margin-left: 8%;
    font-family: serif;
    font-weight: 900;
}

.nav-buttons a:hover {
  background-color: #ddd;
  color: black;
}

.nav-buttons .previous {
  background-color: #f1f1f1;
  color: black;
}

.nav-buttons .next {
  background-color: #4CAF50;
  color: white;
}

.nav-buttons .round {
  border-radius: 50%;
}


.footer{
	padding: 2%;
	background-color: #887F78;
}
.footer .container{
	width: 100%;
	margin: 0 auto;
	padding: 1%;
}
.footer p{
	color: white;
	font-weight: bold;
}
.footer p a{
	color: white;
}
.left{
	margin:1%;
	float: left;
	width:31%;
}
.left p{
	width: 100%;
	text-align: left;
}
.right{
	margin:1%;
	float: left;
	width:31%;
}
.right .social-image{
	margin-left:50%;
}
.right .social-image a{
	margin-left: 3%;
}
.center{
	margin:1%;
	float: left;
	width:31%;
}
.center p{
	text-align: center;
}

